* {
  box-sizing: border-box;
}

html {
  /* 16:9 ratio by default */
  --slidew: calc(100vw - 17px); /* scrollbar... */
  --slideh: calc(var(--slidew) / 16 * 9);

  font-size: calc(var(--slidew) / 50);
}

html, body {
  margin: 0;
  padding: 0;
}

main {
  width: var(--slidew);

  background: #f0f0f0;
  color: #333;
  font-family: sans-serif;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

main>section {
  width: 100%;
  height: var(--slideh);
  top: 0;
  left: 0;
  background-color: inherit;

  /* position absolute object inside this slide */
  position: relative;

  /* hide overflow */
  overflow: hidden;
}



.present main {
  height: var(--slideh);
}
.present main>section {
  position: absolute;
  opacity: 0;
  transition: opacity .3s ease;
}
.present main>section.current {
  opacity: 1;
  z-index: 1;
}





html {
  /* width: 100vw; */
  /* height: 100vh; */
}
body {
  /* overflow: hidden; */
  display: flex;
  background-color: black;
}
main {
  max-width: 1280px;
  /* max-height: 720px; */
  overflow: hidden;
}

section>* {
  position: relative;
  z-index: 1;
}
section>.hero {
  position: initial;
}

section.title,
section>p {
  display: flex;
  align-items: center;
  justify-content: center;
}

section.title {
  background: black;
}

img {
  position: absolute;
  z-index: 0;
  top: 0;
  max-width: 100%;
}
p > img:first-child:last-child {
  max-height: calc(.7 * var(--slideh));
  /*! left: 50vw; */
  /*! margin-left: -50%; */
  display: block;
  position: relative;
}

blockquote a,
ul a,
ol a,
p a {
  font-family: Consolas, monospace;
  font-weight: bold;
  font-size: 90%;
  line-height: 90%;
  text-decoration: none;
  padding: .25em;
  color: lightblue;
  letter-spacing: -1px;
}

blockquote ul, blockquote ol,
blockquote p {
  margin: 0 .5rem;
}
blockquote ul, blockquote ol {
  padding-left: 1rem;
}

h1, h2, h3 h1, h2, h3 {
	font-family: 'Russo One', sans-serif;
	font-weight: normal;
	position: relative;
	z-index: 1;

	color: white;
	background: linear-gradient(to bottom, rgba(0,0,0,.6) 10%, rgba(0,0,0,0)) transparent;
	text-shadow: 0 1px black, 1px 2px 3px rgba(0,0,0,.2);
	border-radius: 2px;

	padding: .5rem 1rem;
	margin: 1rem;
	min-width: 33%;
	text-align: center;
	display: inline-block;
	text-transform: uppercase;
}

section>blockquote, section>ul, section>ol {
  font-family: Oswald, sans-serif;
  position: absolute;
  top: unset;
  bottom: 0;
  color: white;
  background: rgba(0,0,0,.7);
  padding: 1em;
  min-width: 80%;
  margin: 1em;
}

h1:first-child:last-child,
h2:first-child:last-child {
  position: relative;
  font-size: 2.5rem;
  text-align: center;
  flex: 1 0 0;
}


/* Print (pdf-export) specific rules */
@media print {
  html {
    --slidew: 383.3mm;
  }

	#slides>* {
    page-break-after: always;
  }
}
