.main {
  color: hotpink;
}

p > img:first-child:last-child {
  max-height: calc(.7 * var(--slideh));
  display: block;
  position: relative;
}

blockquote a,
ul a,
ol a,
p a {
  /*font-family: Consolas, monospace;
  font-size: 80%;
  line-height: 80%;
  */
  font-weight: bold;
  text-decoration: none;
  padding: .25em;
  color: #e30614;
}

blockquote ul, blockquote ol,
blockquote p {
  margin: 0 .5rem;
}
blockquote ul, blockquote ol {
  padding-left: 1rem;
}

.box,
h1, h2, h3 {
  display: block;

  color: white;
  background: #e30614;
  text-shadow: 0 .03em #555;

  padding: .5rem 1rem;
  margin: 1rem;

  z-index: 1;
}

section h1:first-of-type,
section h2:first-of-type,
section h3:first-of-type
{
  margin: -.5rem;
  margin-bottom: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem
}

h1, h2, h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: 600;

	text-align: center;
	text-transform: uppercase;
}

.top-left-title h1,
.top-left-title h2,
.top-left-title h3 {
  display: inline-block;
  z-index: 1;
}

.top-right-title h1,
.top-right-title h2,
.top-right-title h3 {
  display: inline-block;
  float: right;
}


/* title h3 */
section > h3 {
  display: inline-block;

  left: 50vw;
  transform: translateX(-50%);
  margin-left: 0;
  min-width: 33%;
}

section>blockquote, section>ul, section>ol {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 300;

  position: absolute;
  top: unset;
  bottom: 0;
  right: 0;
  color: white;

  min-width: 40%;
  background: rgba(0,0,0,.85);
  padding: .6em;
  margin: 1em;
}

section>ul, section>ol {
  list-style-type: square;
  padding-left: 2em;
}

section>blockquote strong, section>ul strong, section>ol strong {
  font-weight: 600;
}


section {
  background: #222;
}
.white-background {
  background: white;
}

.big h1,
.big h2 {
	background: none;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
  padding: 1em;
}
.big h1 {
  font-size: 6rem;
}
.big h2 {
  font-size: 4rem;
}
.slim h1,
.slim h2 {
  font-weight: 300;
  letter-spacing: -.05em;
}

.big.link h2 {
	text-shadow: .05em .05em black,.05em -.05em black,-.05em .05em black,-.05em -.05em black,0 -.05em black,0 .05em black;
	text-transform: none;
	font-size: 5rem;
}
.big.link h2 a {
  text-decoration: none;
  color: inherit;
}


section > p {
	color: black;
	font-weight: bold;
	text-align: center;
	background: white;
	display: inline-block;
	padding: 1em;
	margin: auto;
}

section > p:empty {
  display: none;
}

picture.bg.centered.on-left > img {
  object-position: left;
}
